
  {{#each answers as |answer|}}
<div class="row-fluid">
  <div class=".col-md-8">
    <h4>
      From {{answer.author}}: <h4>" {{answer.text}} "</h4>
    <h6> Posted on: {{format-date answer.date_added}}</h6>
    </h4>
  </div>

  <div class="votes">
    <div class=".col-md-4">

    <button class="btn btn-default btn-xs"{{action 'voteUp' answer}}><img src="/images/plus.jpg" alt="plus-vote"/></button><br>
      <h4>Total Votes: {{answer.votes}}</h4>
    <button class="btn btn-default btn-xs"{{action 'voteDown' answer}}><img src="/images/minus2.jpg" alt="minus-vote"/></button>
    </div>
  </div>
</div>


{{/each}}

{{yield}}
