{{#if addNewQuestion}}
  <h1>New Question</h1>
    <div>
      <form>
        <div class="form-group">
          <label for="author">Your Name</label>
          {{input value=author id="author"}}
        </div>

        <div class="form-group">
          <label for="content">Your Question</label>
          {{input value=content id="content"}}
        </div>

        <div class="form-group">
          <label for="notes">Your Notes</label>
          {{input value=notes id="notes"}}
        </div>

        <button class="btn btn-default"{{action 'save'}}>Save</button>
      </form>
    </div>

{{else}}
<center>
  <button class="btn btn-warning"{{action 'questionFormShow'}}>Add New Question</button>
</center>
{{/if}}


{{yield}}
