{{#if updateQuestionForm}}
  <h4>Update {{question.author}}'s Question</h4>
    <div>
      <form>
        <div class="form-group">
          <label for="author">New Name</label>
          {{input value=author id="author" placeholder=question.author}}
        </div>

        <div class="form-group">
          <label for="content">New Question</label>
          {{input value=content id="content" placeholder=question.content}}
        </div>

        <div class="form-group">
          <label for="notes">New Notes</label>
          {{input value=notes id="notes" placeholder=question.notes}}
        </div>

        <button class="btn btn-default"{{action 'update' question}}>Save</button>
      </form>
    </div>
{{else}}
    <button class="btn btn-primary btn btn-xs"{{action 'updateQuestionForm'}}>Update</button>
{{/if}}

{{yield}}
