<h1>Question From {{model.author}}</h1><br>

<h2>{{model.content}}<br> {{model.notes}}<br></h2>

{{question-detail question=model}}

<!-- {{update-question question=model update="update"}} -->
<!-- <button class="btn btn-danger btn-xs"{{action 'delete' question}}>Delete</button> -->

<!-- <center>
<h1>Answers</h1>
<button class="btn btn-warning btn-lg"{{action '' question}}>Add Answer</button>
</center> -->
