<h1>Question from {{model.author}}</h1><br>

<h2>{{model.content}}<br> ({{model.notes}})<br></h2>


{{question-detail question=model save="save"}}

<h4>{{#each model.answers as |answer|}}
<hr>
From {{answer.author}}: <h4>" {{answer.text}} "</h4>
<h6>Posted on: {{format-date answer.date_added}}</h6>
{{/each}}</h4>
